ion-tab-bar, ion-tab-button {
  background: black;
  height: 60px;
}

ion-toolbar {
  height: 60px;
  text-align: center;
  box-shadow: 1px 0px 6px white;
}

ion-title {
  font-size: 16px;
  margin-top: 15px;
}

.searchIcon {
  width: 8%;
  position: absolute;
  display: relative;
  left: 90%;
  top: 20px;
  font-size: 40px;
  z-index: 999;
  color: white;
}

ion-input {
  background: black;
  width: 90%;
  margin-top: 17px;
}