<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-mediaplayer [style.display]="getDisplayType('player')">
  
  </app-mediaplayer>
  <app-list [style.display]="getDisplayType('list')">

  </app-list>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="changeTab('player')" [ngStyle]="{'color': visibleTab === 'player' ? '#b5c827' : 'white' }">
      <ion-icon name="play"></ion-icon>
      <ion-label>player</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="changeTab('list')" [ngStyle]="{'color': visibleTab === 'list' ? '#b5c827' : 'white' }">
      <ion-icon name="list"></ion-icon>
      <ion-label>list</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="changeTab('search')" [ngStyle]="{'color': visibleTab === 'search' ? '#b5c827' : 'white' }">
      <ion-badge slot="start">
        <ion-icon name="search" style="font-size: 12px; position: relative; color: #b5c827; margin-left: -2px;"></ion-icon>
      </ion-badge>
      <ion-icon name="search"></ion-icon>
      <ion-label>yt search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

