<div>
  <div style="position: fixed; top: 60px; left: 0; height: 40px; width: 100%; background: #282828; display: flex; flex-direction: row; align-items: center; text-align: center;">
    <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;" (click)="toggleShuffle()">
      <ion-icon name="shuffle" [ngStyle]="{'color': shuffle ? '#b5c827' : 'white' }"></ion-icon>
    </div>
    <div style="flex: 5; -ms-flex: 5; -webkit-flex: 5;">

    </div>
    <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;" (click)="changeRepeatMode()">
      <ion-badge *ngIf="repeatMode === constants.REPEAT_MODES.SELECTED" slot="start" style="position: relative; left: -15px; top: 10px; font-size: 12px; background: #0000; color: #b5c827;">
          <ion-icon name="bookmark" style="font-size: 12px; position: relative; color: #b5c827; margin-left: -3px;"></ion-icon>
      </ion-badge>
      <ion-badge *ngIf="repeatMode === constants.REPEAT_MODES.SONG" slot="start" style="position: relative; left: -15px; top: 10px; font-size: 12px; background: #0000; color: #b5c827;">
        <p style="font-size: 12px; position: relative; color: #b5c827; margin-left: -3px;">1</p>
      </ion-badge>
      <ion-badge *ngIf="repeatMode === constants.REPEAT_MODES.FAVOURITE" slot="start" style="position: relative; left: -15px; top: 10px; font-size: 12px; background: #0000; color: #b5c827;">
        <ion-icon name="heart" style="font-size: 12px; position: relative; color: #b5c827; margin-left: -3px;"></ion-icon>
      </ion-badge>
      <ion-badge *ngIf="repeatMode === constants.REPEAT_MODES.PART_OF_SONG" slot="start" style="position: relative; left: -15px; top: 10px; font-size: 12px; background: #0000; color: #b5c827;">
        <ion-icon name="md-time" style="font-size: 12px; position: relative; color: #b5c827; margin-left: -3px;"></ion-icon>
      </ion-badge>
      <ion-icon [ngStyle]="{'color': repeatMode !== constants.REPEAT_MODES.NONE ? '#b5c827' : 'white' }" name="repeat" style="position: absolute; right: calc(8.5% - 15px); top: 8px;"></ion-icon>
    </div>
  </div>
  <div id="albumPhoto">
    <img id="image" src="../../assets/icon/skull_icon.png">
  </div>
  <div style="position: fixed; bottom: 120px; left: 0; height: 40px; width: 100%; background: white; display: flex; flex-direction: row; align-items: center; text-align: center;"
  [ngStyle]="{ 'bottom': platform.is('android') && !platform.is('desktop') && keyboard.isVisible ? '50px' : '110px' }">
    <ion-range [min]=0 [max]=max step="1" (ionChange)="updateProgress($event)">
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
    </ion-range>
    <div class="duration-container">
      <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
        {{util.durationToDisplayTime(progress)}}
      </div>
      <div style="flex: 3; -ms-flex: 3; -webkit-flex: 3;">

      </div>
      <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
        {{util.durationToDisplayTime(max)}}
      </div>
    </div>
  </div>
  <div style="position: fixed; bottom: 60px; left: 0; height: 50px; width: 100%; background: #282828; display: flex; flex-direction: row; align-items: center; text-align: center;"
  [ngStyle]="{ 'bottom': platform.is('android') && !platform.is('desktop') && keyboard.isVisible ? '0' : '60px' }">
    <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
      <ion-icon name="skip-backward" (click)="previous()"></ion-icon>
    </div>
    <div *ngIf="!isPlaying" style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
      <ion-icon name="play" (click)="play()"></ion-icon>
    </div>
    <div *ngIf="isPlaying" style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
      <ion-icon name="pause" (click)="play()"></ion-icon>
    </div>
    <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
      <ion-icon name="square" (click)="stop()"></ion-icon>
    </div>
    <div style="flex: 1; -ms-flex: 1; -webkit-flex: 1;">
      <ion-icon name="skip-forward" (click)="next()"></ion-icon>
    </div>
  </div>
</div>
