ion-icon {
  font-size: 24px;
  color: white;
}

.controlIcon {
  font-size: 20px;
}

ion-range {
  height: 20px;
  width: 90%;
  position: absolute;
  top: 0;
  margin: 0 0 0 5%!important;
  padding: 0 !important;
  --knob-background: #b5c827;
  --bar-height: 8px;
  --bar-background: white;
  --bar-background-active: #b5c827;
  --bar-border-radius: 6px;
  --knob-size: 30px;
}

.duration-container {
  height: 20px;
  position: absolute;
  top: 20px;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex; flex-direction: row;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #b5c827;
}

#albumPhoto {
  position: absolute;
  width: 100%;
  background: black;
}

#image {
  position: absolute;
}