ion-icon {
  font-size: 30px;
  color: white;
}

.playlist-item-top, .playlist-item-card {
  font-size: 12px;
  font-weight: 700;
}

.playlist-item-bottom {
  font-size: 12px;
  font-weight: 700;
  color: lightgray;
}

ion-card {
  width: 100%;
  margin: 6px 0 !important;
  padding: 0 !important;
}

ion-button {
  height: 100%;
  font-weight: 700;
}