ion-icon {
  font-size: 30px;
  color: white;
}

.playlist-item-top, .playlist-item-card {
  font-size: 12px;
  font-weight: 700;
  color: #b5c827;
}

.playlist-item-bottom {
  font-size: 12px;
  font-weight: 700;
  color: #b5c827;
}

ion-card {
  width: 100%;
  margin: 0 !important;
  padding: 0.3em !important;
  background: black;
  border-bottom: 1px solid white;
}

ion-button {
  height: 100%;
  font-weight: 700;
}

ion-list {
  padding: 0;
}

ion-input {
  color: #b5c827;
}

#img {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}