<div>
  <ion-card *ngFor="let result of searchResults" (click)="downloadMedia(result.id, result.name, result.thumbnails.large, result.thumbnails.medium)" 
  [ngStyle]="{ 'opacity': downloadedMediaIds.indexOf(result.id) !== -1 ? '0.5' : '1' }">
    <div class="card-container">
      <div style="flex: 4;">
        <div class="img-container">
          <ion-img [src]="result.thumbnails.medium"></ion-img>
          <div class="duration">{{result.duration}}</div>
        </div> 
      </div>
      <div class="title-name">
        {{result.name}}
        <img *ngIf="downloadedMediaIds.indexOf(result.id) !== -1" class="download" src="../../assets/icon/download.gif">
      </div>
    </div>
  </ion-card>
</div>