// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.toast {
  --background: black;
  --color: #b5c827;
  --border-style: inset;
  --border-width: 2px;
  --border-color: #b5c827;
  transform: translateY(20px) !important;
}

ion-checkbox {
  border-radius: 4px;
  border-color: #b5c827 !important;
  --background-checked: black;
  --border-color: #b5c827;
  --border-color-checked: #b5c827;
  --checkmark-color: #b5c827;
  --background: black !important;
}